/************************************************************
 ********************  Cookie Dialogue   ********************
 ************************************************************/
 #gdpr-cookie-message {
	display: none;
	position: fixed;
	right: 30px;
	bottom: 30px;
	max-width: 550px;
	background-color: var(--primary);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 6px 6px var(--periwinkle-10);
	margin-left: 30px;
	font-family: system-ui;
	z-index: 1000;
}
#gdpr-cookie-message h4 {
	color: var(--secondary);
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}
#gdpr-cookie-message p {
	color: var(--white);
	font-size: 15px;
	line-height: 1.5em;
}
#gdpr-cookie-message p:last-child {
	margin-bottom: 0;
	text-align: right;
}
#gdpr-cookie-message a {
	color: var(--secondary);
	text-decoration: none;
	font-size: 15px;
	padding-bottom: 2px;
	border-bottom: 1px dotted var(--white-75);
	transition: all 0.3s ease-in;
}
#gdpr-cookie-message a:hover {
	color: var(--white);
	border-bottom-color: var(--secondary);
	transition: all 0.3s ease-in;
}
#gdpr-cookie-message button {
	border: none;
	background: var(--secondary);
	color: var(--white);
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	padding: 7px;
	border-radius: 3px;
	margin-left: 15px;
	cursor: pointer;
	transition: all 0.3s ease-in;
}
#gdpr-cookie-message button:hover {
	background: var(--white);
	color: var(--secondary);
	transition: all 0.3s ease-in;
}