/************************************************************
 ********************    BACK TO TOP     ********************
 ************************************************************/
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
	background: var(--secondary);
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
}
.back-to-top i {
	font-size: 24px;
	color: var(--text-light);
	line-height: 0;
}
.back-to-top:hover {
	background: var(--azure);
	color: var(--text-dark);
}
.back-to-top.active {
	visibility: visible;
	opacity: 1;
}