/***********************************************************
 *******************       HEADER       ********************
 ***********************************************************/
 #header {
	height: 70px;
	background: var(--white);
	z-index: 997;
	box-shadow: 0px 5px 15px 0px var(--black-10);
}
#header .logo h1 {
	font-size: 28px;
	padding: 10px 0;
	line-height: 1;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: auto 0;
}
#header .logo h1 a, #header .logo h1 a:hover {
	color: var(--lapiz-lazuli);
	text-decoration: none;
}
#header .logo img {
	padding: 0;
	margin: 0;
	max-height: 60px;
}
/************************************************************
 ********************     NAVIGATION     ********************
 ************************************************************/
 .navbar .dropdown .dropdown ul {
	right: calc(100% - 30px);
	left: unset;
}
.navbar .dropdown .dropdown:hover>ul {
	right: 100%;
	left: unset;
}
.navbar .dropdown ul {
	right: 14px;
	left: unset;
}
/**
* Desktop Navigation 
*/
.navbar {
	padding: 0;
}
.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}
.navbar li {
	position: relative;
}
.navbar a,
.navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 10px 30px;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	color: var(--text-primary-accent);
	white-space: nowrap;
	transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
	line-height: 0;
	margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
	color: var(--text-secondary);
}
.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 14px;
	top: 100%;
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: var(--white);
	box-shadow: 0px 0px 30px var(--periwinkle-25);
	transition: 0.3s;
}
.navbar .dropdown ul li {
	min-width: 200px;
}
.navbar .dropdown ul a {
	padding: 10px 20px;
	text-transform: none;
}
.navbar .dropdown ul a i {
	font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
	color: var(--secondary);
}
.navbar .dropdown:hover > ul {
	opacity: 1;
	visibility: visible;
}
.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}
@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
		left: -90%;
	}
	.navbar .dropdown .dropdown:hover > ul {
		left: -100%;
	}
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
	color: var(--primary-text);
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
	line-height: initial!important;
}
.mobile-nav-toggle.bi-x {
	color: var(--text-dark);
}
@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}
	.navbar ul {
		display: none;
	}
}
.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: var(--black-25);
	transition: 0.3s;
	z-index: 998;
}
.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}
.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: var(--white);
	overflow-y: auto;
	transition: 0.3s;
}
.navbar-mobile a {
	padding: 10px 20px;
	font-size: 15px;
	color: var(--primary-text);
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
	color: var(--secondary);
}
.navbar-mobile .getstarted {
	margin: 15px;
}
.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: var(--white);
	box-shadow: 0px 0px 30px var(--periwinkle-25);
}
.navbar-mobile .dropdown ul li {
	min-width: 200px;
}
.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
	color: var(--secondary);
}
.navbar-mobile .dropdown > .dropdown-active {
	display: block;
}