:root {
	/************************************************************
	 ********************      COLOURS       ********************
	 ************************************************************/
		/* Mains */
			--primary:				rgb(52 74 76);
			--primary-accent:		rgb(59 85 87);
			--primary-accent-50:	rgb(59 85 87 / 50%);
			--primary-accent-25:	rgb(59 85 87 / 25%);
			--secondary:			rgb(255 127 0);
			--secondary-accent:		rgb(255 134 13);
			--secondary-accent-50:	rgb(255 134 13 / 50%);
			--secondary-accent-25:	rgb(255 134 13 / 25%);
			--tertiary:				rgb(255 160 51);
			--tertiary-accent:		rgb(255 165 61);
			--tertiary-accent-25:	rgb(255 165 61 / 50%);
			--tertiary-accent-25:	rgb(255 165 61 / 25%);

			--text-primary:			rgb(52 74 76);
			--text-secondary:		rgb(255 127 0);
			--text-tertiary:		rgb(255 160 51);
			--text-dark:			rgb(0 0 0);
			--text-light:			rgb(255 255 255);
		/* Greyscale */
			--white:				rgb(255 255 255 / 100%);
			--white-smoke:			rgb(245 245 245 / 100%);
			--beluga:				rgb(241 241 241 / 100%);
			--silver:				rgb(238 238 238 / 100%);
			--mercury:				rgb(235 235 235 / 100%);
			--jupiter:				rgb(225 225 225 / 100%);
			--cape-hope:			rgb(215 215 215 / 100%);
			--compact-disk-grey:	rgb(205 205 205 / 100%);
			--explosive-grey:		rgb(195 195 195 / 100%);
			--covered-in-platinum:	rgb(185 185 185 / 100%);
			--smoke-screen:			rgb(175 175 175 / 100%);
			--dhūsar:				rgb(170 170 170 / 100%);
			--uniform:				rgb(168 168 168 / 100%);
			--rainy-grey:			rgb(165 165 165 / 100%);
			--hydrargyrum:			rgb(155 155 155 / 100%);
			--tin:					rgb(145 145 145 / 100%);
			--mithril:				rgb(135 135 135 / 100%);
			--aged-grey:			rgb(125 125 125 / 100%);
			--industrial:			rgb(115 115 115 / 100%);
			--dim-grey:				rgb(105 105 105 / 100%);
			--rhine-castle:			rgb(95 95 95 / 100%);
			--stone-cold:			rgb(85 85 85 / 100%);
			--shadowed-steel:		rgb(75 75 75 / 100%);
			--goshawk:				rgb(69 69 69 / 100%);
			--midnight-gray:		rgb(68 68 68 / 100%);
			--scarabaeus-sacer:		rgb(65 65 65 / 100%);
			--dark-grey:			rgb(55 55 55 / 100%);
			--carbon-fiber:			rgb(45 45 45 / 100%);
			--young-night:			rgb(35 35 35 / 100%);
			--thamar:				rgb(25 25 25 / 100%);
			--chaos-black:			rgb(15 15 15 / 100%);
			--black-metal:			rgb(5 5 5 / 100%);
			--black:				rgb(0 0 0 / 100%);
		/* Colours */
			--melondrama:			rgb(240 126 110 / 100%);
			--drift-on-the-sea:		rgb(132 205 250 / 100%);
			--scenic-water:			rgb(142 190 255 / 100%);
			--baby-blue:			rgb(158 204 244 / 100%);
			--periwinkle:			rgb(150 132 254 / 100%);
			--mā-white:				rgb(245 249 252 / 100%);
			--stratus:				rgb(128 142 171 / 100%);
			--bluebeard:			rgb(173 183 196 / 100%);
			--bright-star:			rgb(222 226 230 / 100%);
			--blue-radiance:		rgb(90 209 205 / 100%);
			--lapiz-lazuli:			rgb(28 92 147 / 100%);
			--deep-sky-blue:		rgb(11 130 248 / 100%);
			--clear-chill:			rgb(31 143 255 / 100%);
			--azure:				rgb(55 153 255 / 100%);
			--casting-sea:			rgb(066 139 202 / 100%);
			--vampire-state:		rgb(198 016 000 / 100%);
			--prussian-blue:		rgb(31 53 72 / 100%);
			--carmine:				rgb(231 76 60 / 100%);
			--slate-grey:			rgb(92 118 141 / 100%);
			--ball-gown:			rgb(81 88 96 / 100%);
			--seaweed:				rgb(024 210 110 / 100%);
			--azurish-white:		rgb(217 232 244 / 100%);
			--provincial-blue:		rgb(092 118 141 / 100%);
			--kaleidoscope:			rgb(141 168 190 / 100%);
			--blue-whale:			rgb(031 053 072 / 100%);
		/* Specific opacities */
			--white-75:			rgb(255 255 255 / 75%);
			--black-10:			rgb(0 0 0 / 10%);
			--black-25:			rgb(0 0 0 / 25%);
			--dhūsar-60:		rgb(170 170 170 / 60%);
			--scenic-water:		rgb(142 190 255 / 90%);
			--periwinkle-5:		rgb(150 132 254 / 5%);
			--periwinkle-10:	rgb(150 132 254 / 10%);
			--periwinkle-25:	rgb(150 132 254 / 25%);
			--periwinkle-40:	rgb(150 132 254 / 40%);
			--casting-sea-40:		rgb(066 139 202 / 40%);
			--casting-sea-70:		rgb(066 139 202 / 70%);
			--vampire-state-0:		rgb(198 016 000 / 00%);
			--provincial-blue-90:	rgb(092 118 141 / 90%);
			--kaleidoscope-80:		rgb(141 168 190 / 80%);
			--azure-50:				rgb(055 153 255 / 50%);
			--blue-whale-10:		rgb(031 053 072 / 10%);
	/************************************************************
	 ********************   BREAKPOINTS      ********************
	 ************************************************************/
	 	--breakpoint-sm: 576px;
	 	--breakpoint-md: 768px;
	 	--breakpoint-lg: 992px;
	 	--breakpoint-xl: 1200px;
		--breakpoint-xxl: 1400px;
}