/************************************************************
 ********************    BREADCRUMBS     ********************
 ************************************************************/
.functionalities li {
	list-style: none;
	float: left;
	padding-right: 10px;
}
.functionalities.container {
	width: 90%;
	margin: auto;
}
.functionalities ul.breadcrumb {
	background-color: var(--primary);
	flex-wrap: nowrap;
	padding: 0 1.5em;
	clear: both;
	height: 40px;
}
.functionalities ul.breadcrumb li {
	background-color: var(--primary);
	color: var(--white);
	border-right: 3px solid var(--white);
	transform: skewX(-25deg);
	height: 40px;
	padding: 0 20px;
	position: relative;
	top: 0;
	line-height: 40px;
}
.functionalities ul.breadcrumb li:first-child {
	display: none;
}
.functionalities ul.breadcrumb li:nth-child(2) {
	border-left: 3px solid var(--white);
}
.functionalities ul.breadcrumb li:last-child {
	border-right: none;
}
.functionalities ul.breadcrumb li a {
	color: var(--white);
	transform: skewX(25deg);
	display: inline-block;
	text-transform: uppercase;
}
.functionalities ul.breadcrumb li:last-child a {
	color: var(--tertiary);
	letter-spacing: 5px;
	font-weight: 100;
	font-size: 1.3em;
}
.functionalities ul.breadcrumb li a:hover,
.functionalities ul.breadcrumb li a:focus {
	text-decoration: none;
	color: var(--baby-blue);
}
.functionalities ul.breadcrumb li strong {
	color: var(--white);
	text-decoration: none;
	transform: skewX(25deg);
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}
@media(max-width: 375px) {
	.functionalities ul.breadcrumb li {
		display: none;
	}
	.functionalities ul.breadcrumb li:nth-child(2),
	.functionalities ul.breadcrumb li:nth-last-child(1) {
		display: block;
	}
}
@media(min-width: 376px) and (max-width: 576px) {
	.functionalities ul.breadcrumb li {
		display: none;
	}
	.functionalities ul.breadcrumb li:nth-child(2),
	.functionalities ul.breadcrumb li:nth-last-child(1),
	.functionalities ul.breadcrumb li:nth-last-child(2) {
		display: block;
	}
}
@media(min-width: 577px) and (max-width: 992px) {
	.functionalities ul.breadcrumb li {
		display: none;
	}
	.functionalities ul.breadcrumb li:nth-child(2),
	.functionalities ul.breadcrumb li:nth-last-child(1),
	.functionalities ul.breadcrumb li:nth-last-child(2),
	.functionalities ul.breadcrumb li:nth-last-child(3),
	.functionalities ul.breadcrumb li:nth-last-child(4),
	.functionalities ul.breadcrumb li:nth-last-child(5),
	.functionalities ul.breadcrumb li:nth-last-child(6) {
		display: block;
	}
}
@media(min-width: 993px) and (max-width: 1200px) {
	.functionalities ul.breadcrumb li {
		display: none;
	}
	.functionalities ul.breadcrumb li:nth-child(2),
	.functionalities ul.breadcrumb li:nth-last-child(1),
	.functionalities ul.breadcrumb li:nth-last-child(2),
	.functionalities ul.breadcrumb li:nth-last-child(3),
	.functionalities ul.breadcrumb li:nth-last-child(4),
	.functionalities ul.breadcrumb li:nth-last-child(5),
	.functionalities ul.breadcrumb li:nth-last-child(6),
	.functionalities ul.breadcrumb li:nth-last-child(7),
	.functionalities ul.breadcrumb li:nth-last-child(8),
	.functionalities ul.breadcrumb li:nth-last-child(9) {
		display: block;
	}
}