/************************************************************
 ********************       GENERAL      ********************
 ************************************************************/
 body {
	position: inherit;
	font-family: "Open Sans", sans-serif;
	color: var(--midnight-grey);
}
a {
	color: var(--secondary);
	text-decoration: none;
}
a:hover {
	color: var(--drift-on-the-sea);
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .font-primary {
	font-family: "Raleway", sans-serif;
}
h1 {
	text-align: center;
	color: var(--uniform);
	text-shadow: 1px 1px 0 var(--white);
}
.scrolled-offset {
	margin-top: 70px;
}

/* Disable AOS animation on mobile devices */
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}