
.search-wrapper {
	width: 100%;
	max-width: 480px;
	position: inherit;
}
.dark .search-wrapper {
	box-shadow: none;
}
.search,
.search-suggestions {
	background-color: var(--search-area-bg);
	justify-content: space-between;
	align-items: center;
	color: var(--light-font);
	box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}
.search {
	height: 40px;
	border-radius: 20px;
}
.search input,
.search button {
	background: transparent;
	border: none;
}
.search input:focus,
.search button:focus {
	border: none;
}
.search ~ input:active {
	border-radius: 20px 20px 20px;
}
.search-suggestions {
	height: 100px; /* TEMPLATE SIZING */
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0px;
}