
.search-wrapper {
	width: 100%;
	max-width: 480px;
	position: inherit;
}
.dark .search-wrapper {
	box-shadow: none;
}
.search,
.search-suggestions {
	background-color: var(--search-area-bg);
	justify-content: space-between;
	align-items: center;
	color: var(--light-font);
	box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}
.search {
	height: 40px;
	border-radius: 20px;
	z-index: 10;
    position: inherit;
}
.search-area {
	height: 100%;
}
.search input, .search button {
	background: transparent;
	border: none;
}
.search input:focus, .search button:focus {
	box-shadow: none;
	background-color: transparent;
}
.search ~ input:focus {
	border-radius: 20px 20px 20px 20px;
}
.search-suggestions {
	top: 0px;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    z-index: 2;
	padding-top: 40px;
}
.search-suggestions > li {
	margin: 5px;
	list-style: none;
	padding: 5px 7px;
	width: calc(100% - 24px);
	cursor: default;
	border-radius: 3px;
}
.search-suggestions > li:hover {
	background-color: rgb(0 0 0 / 5%);
}
.search-suggestions > li a {
	text-decoration: none;
	color: var(--main-color);
}
