/***********************************************************
 *******************     ABOUT LIST     ********************
 ***********************************************************/
.about-lists {
	padding: 40px;
}

.about-lists .row {
	overflow: hidden;
}

.about-lists .content-item {
	padding: 40px;
	border-left: 1px solid var(--azurish-white);
	border-bottom: 1px solid var(--azurish-white);
	margin: -1px;
}

.about-lists .content-item span {
	display: block;
	font-size: 24px;
	font-weight: 400;
	color: var(--baby-blue);
}

.about-lists .content-item h4 {
	font-size: 28px;
	font-weight: 400;
	padding: 0;
	margin: 20px 0;
}

.about-lists .content-item p {
	color: var(--dhūsar);
	font-size: 15px;
	margin: 0;
	padding: 0;
}

@media (max-width: 768px) {
	.about-lists .content-item {
		padding: 40px 0;
	}
}