/************************************************************
 ********************      BOUTIQUE      ********************
 ************************************************************/
.boutique {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	overflow-x: auto;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-bottom: 50px;
	margin-bottom: -50px;
	margin-top: -20px;
	padding-top: 20px;
}
.boutique .partner-list-item,
.boutique .product-list-item {
	margin: 0.5rem 0rem;
	padding: 0rem 0.5rem;
	max-width: 70%;
	display: inline-flex;
	flex-shrink: 0;
}
.boutique .partner-list-item .partner,
.boutique .product-list-item .product {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	box-shadow: 0 5px 20px 0 var(--periwinkle-10), 0 15px 30px 0 var(--periwinkle-5);
	border-radius: 15px;
	margin-top: 5.5rem;
}
.boutique .partner-list-item .partner .partner-image,
.boutique .product-list-item .product .product-image {
	margin-top: -5rem;
	padding: 0 0.5rem;
}
.boutique .partner-list-item .partner .partner-image img,
.boutique .product-list-item .product .product-image img {
	filter: drop-shadow(0 5px 15px var(--periwinkle-40));
	width: 100%;
	height: auto;
}
.boutique .partner-list-item .partner .partner-content,
.boutique .product-list-item .product .product-content {
	padding: 0 1.25rem 1.25rem;
}
.boutique .partner-list-item .partner .partner-content .partner-title,
.boutique .product-list-item .product .product-content .product-title {
	font-size: 1.125rem;
	line-height: 1.25;
	color: var(--thamar);
	letter-spacing: -0.025em;
	font-weight: 600;
}
.boutique .partner-list-item .partner .partner-content .partner-rating,
.boutique .product-list-item .product .product-content .product-rating {
	margin-top: 0.5rem;
	color: var(--secondary);
}
.boutique .partner-list-item .partner .partner-content .partner-rating svg,
.boutique .product-list-item .product .product-content .product-rating svg {
	width: 16px;
	height: 16px;
}
.boutique .partner-list-item .partner .partner-content .partner-info,
.boutique .product-list-item .product .product-content .product-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0.5rem;
}
.boutique .partner-list-item .partner .partner-content .partner-info .partner-price,
.boutique .product-list-item .product .product-content .product-info .product-price {
	font-size: 1.25rem;
	color: var(--text-dark);
}
.boutique .partner-list-item .partner .partner-content .partner-info .partner-btn-group,
.boutique .product-list-item .product .product-content .product-info .product-btn-group {
	display: flex;
	align-items: center;
}
.boutique .partner-list-item .partner .partner-content .partner-info .partner-btn,
.boutique .product-list-item .product .product-content .product-info .product-btn {
	width: 40px;
	height: 40px;
	border-radius: 12px;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-secondary);
	cursor: pointer;
	background-color: var(--white);
	box-shadow: 0 3px 15px var(--periwinkle-25);
}
.boutique .partner-list-item .partner .partner-content .partner-info .partner-btn svg,
.boutique .product-list-item .product .product-content .product-info .product-btn svg {
	width: 24px;
	height: 24px;
}
.boutique .partner-list-item .partner .partner-content .partner-info .partner-btn + .partner-btn,
.boutique .product-list-item .product .product-content .product-info .product-btn + .product-btn {
	margin-left: 0.5rem;
}
.boutique .product-list-item .product .product-content .product-info .product-btn--add {
	color: var(--text-secondary);
}

.nav::-webkit-scrollbar {
	display: none;
}
.nav {
	display: -webkit-box;
	flex-wrap: unset;
	overflow-x: scroll;
	overflow-y: clip;
	scrollbar-width: none;
	-ms-overflow-style: none;
	padding-top: 1px;
}