.app-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 16px 24px;
	position: relative;
}
.app-header-left, .app-header-right {
	display: flex;
	align-items: center;
}
.app-header-left {
	flex-grow: 1;
}
.app-header-right button {
	margin-left: 10px;
}

.app-icon {
	width: 2.5rem;
	height: 2.5rem;
	position: relative;
}

.app-name {
	color: var(--main-color);
	margin: 0;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	margin: 0 32px;
}



.mode-switch {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode-switch.active .moon {
  fill: var(--main-color);
}


.add-btn {
  color: #fff;
  background-color: var(--button-bg);
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-btn {
  color: var(--main-color);
  padding: 0;
  border: 0;
  background-color: transparent;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-left: 2px solid #ddd;
}
.profile-btn img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 4px;
}
.profile-btn span {
  color: var(--main-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}