{
	"swagger": "2.0",
	"info": {
		"version": "1.0.1",
		"title": "The Candlestick Web API",
		"description": "A simple web API for all of The Candlestick LTD's applications and websites",
		"license": {
			"name": "MIT"
		}
	},
	"host": "api.thecandlestick.co.uk",
	"basePath": "/v1",
	"tags": [{
		"name": "Users",
		"description": "Access to your Users"
	}, {
		"name": "Images",
		"description": "Image functions"
	}, {
		"name": "Cart",
		"description": "Cart functions"
	}, {
		"name": "Template",
		"description": "template tag"
	}],
	"paths": {
		"/Users/": {
			"put": {
				"tags": [ "Users" ],
				"summary": "Create a new user",
				"description": "Use this API query to Create a new user",
				"operationId": "CreateUser",
				"produces": [ "application/json" ],
				"parameters": [{
					"name": "user",
					"in": "query",
					"description": "Username for the new user",
					"required": true,
					"type": "string"
				}, {
					"name": "Pass1",
					"in": "query",
					"description": "Password for the new user",
					"required": true,
					"type": "string"
				}, {
					"name": "Pass2",
					"in": "query",
					"description": "Confirm password for the new user",
					"required": true,
					"type": "string"
				}, {
					"name": "email",
					"in": "query",
					"description": "The users email",
					"required": true,
					"type": "string"
				}, {
					"name": "fname",
					"in": "query",
					"description": "Firstname for the new user",
					"required": true,
					"type": "string"
				}, {
					"name": "sname",
					"in": "query",
					"description": "Surname for the new user",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/200"
						}
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			},
			"get": {
				"tags": [ "Users" ],
				"summary": "Lists all users",
				"description": "Use this API query to fetch all of the users and their details",
				"operationId": "ListUsers",
				"produces": [ "application/json" ],
				"parameters": [  ],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/User"
						}
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Users/{id}/": {
			"get": {
				"tags": [ "Users" ],
				"summary": "Show all user information for a specific user.",
				"description": "Use this API query to Get all user information",
				"operationId": "ListUser",
				"produces": [ "application/json" ],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "Users UID",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/User"
						}
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			},
			"post": {
				"tags": [ "Users" ],
				"summary": "Update the users information - INCOMPLETE",
				"description": "Use this API query to Update a user",
				"operationId": "UpdateUser",
				"produces": ["application/json"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "Users UID",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "user",
					"in": "query",
					"description": "New Username for the user",
					"required": false,
					"type": "string"
				}, {
					"name": "Pass1",
					"in": "query",
					"description": "New Password for the user",
					"required": false,
					"type": "string"
				}, {
					"name": "Pass2",
					"in": "query",
					"description": "Confirm new password for the user",
					"required": false,
					"type": "string"
				}, {
					"name": "email",
					"in": "query",
					"description": "New email for the user",
					"required": false,
					"type": "string"
				}, {
					"name": "fname",
					"in": "query",
					"description": "New Firstname for the user",
					"required": false,
					"type": "string"
				}, {
					"name": "sname",
					"in": "query",
					"description": "New Surname for the user",
					"required": false,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/200"
						}
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				},
				"delete": {
					"tags": [ "Users" ],
					"summary": "Delete the user",
					"description": "Use this API query to Delete a user",
					"operationId": "DeleteUser",
					"produces": [ "application/json" ],
					"parameters": [{
							"name": "id",
							"in": "path",
							"description": "User ID of the user to be deleted",
							"required": true,
							"type": "integer",
							"format": "int32"
						},
						{
							"name": "username",
							"in": "query",
							"description": "Username of User to Delete",
							"required": true,
							"type": "string"
						},
						{
							"name": "password",
							"in": "query",
							"description": "Password of User to Delete",
							"required": true,
							"type": "string"
						}
					],
					"responses": {
						"200": {
							"description": "OK",
							"schema": {
								"$ref": "#/definitions/200"
							}
						},
						"422": {
							"description": "Unprocessable Entity",
							"schema": {
								"$ref": "#/definitions/422"
							}
						},
						"500": {
							"description": "Internal Server Error",
							"schema": {
								"$ref": "#/definitions/500"
							}
						}
					}
				}
			},
			"delete": {
				"tags": [ "Users" ],
				"summary": "Deletes the user - INCOMPLETED",
				"description": "Use this API query to Create a new user account on the database",
				"operationId": "usersDelete",
				"produces": [ "application/json" ],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "User id of the user to be removed",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/200"
						}
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Users/{id}/{element}/": {
			"get": {
				"tags": [ "Users" ],
				"summary": "Show all user information for a specific user.",
				"description": "Use this API query to Get all user information",
				"operationId": "ListUserSpecifics",
				"produces": [ "application/json" ],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "Users UID",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "element",
					"in": "path",
					"description": "The element you would like to focus on",
					"required": true,
					"type": "integer",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/User"
						}
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Users/session/": {
			"put": {
				"tags": [ "Users" ],
				"summary": "Logs the user in",
				"description": "Use this API query to Log a user into their account",
				"operationId": "sessionsLogin",
				"produces": [ "application/json" ],
				"parameters": [{
						"name": "username",
						"in": "query",
						"description": "Username of the user to be logged in",
						"required": true,
						"type": "string"
					},
					{
						"name": "password",
						"in": "query",
						"description": "Password of the user to be logged in",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/login"
						}
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			},
			"get": {
				"tags": [ "Users" ],
				"summary": "Fetches all sessions - INCOMPLETED",
				"description": "Use this API query to Log a user into their account",
				"operationId": "sessionsFetch",
				"produces": [ "application/json" ],
				"parameters": [  ],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/sessions"
						}
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Users/session/{id}": {
			"delete": {
				"tags": [ "Users" ],
				"summary": "Logs the user out - INCOMPLETED",
				"description": "Use this API query to Log a user out of their account",
				"operationId": "usersLogout",
				"produces": [ "application/json" ],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "Users UID",
					"required": true,
					"type": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/200"
						}
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Images/Fetch/{name}/": {
			"get": {
				"tags": [ "Images" ],
				"summary": "Fetches an image from the database",
				"description": "Use this API query to fetch an image from the database and display it in a custom format",
				"operationId": "imagesFetch-name",
				"produces": [
					"image/webp",
					"image/jpx",
					"image/png",
					"image/jpx",
					"image/jpeg"
				],
				"parameters": [{
					"name": "name",
					"in": "path",
					"description": "Name of the image to display",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Images/Fetch/{name}/{format}/": {
			"get": {
				"tags": [ "Images" ],
				"summary": "Fetches an image from the database - INCOMPLETED",
				"description": "Use this API query to fetch an image from the database and display it in a custom format",
				"operationId": "imagesFetch",
				"produces": [
					"image/webp",
					"image/jpx",
					"image/png",
					"image/jpx",
					"image/jpeg"
				],
				"parameters": [{
					"name": "name",
					"in": "path",
					"description": "Name of the image to display",
					"required": true,
					"type": "string"
				}, {
					"name": "format",
					"in": "path",
					"description": "Format to display the image in",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Images/Fetch/{name}/{format}/{width}/{height}/": {
			"get": {
				"tags": [ "Images" ],
				"summary": "Fetches an image from the database - INCOMPLETED",
				"description": "Use this API query to fetch an image from the database and display it in a custom format",
				"operationId": "imagesFetch-resize",
				"produces": [
					"image/webp",
					"image/jpx",
					"image/png",
					"image/jpx",
					"image/jpeg"
				],
				"parameters": [{
					"name": "name",
					"in": "path",
					"description": "Name of the image to display",
					"required": true,
					"type": "string"
				}, {
					"name": "format",
					"in": "path",
					"description": "Format to display the image in",
					"required": true,
					"type": "string"
				}, {
					"name": "width",
					"in": "path",
					"description": "The desired width of the image",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "height",
					"in": "path",
					"description": "The desired height of the image",
					"required": true,
					"type": "integer",
						"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Images/Create/": {
			"get": {
				"tags": [ "Images" ],
				"summary": "Creates a customizable image",
				"description": "Use this API query to create a custom image",
				"operationId": "imagesCreate",
				"produces": [
					"image/webp",
					"image/jpx",
					"image/png",
					"image/jpx",
					"image/jpeg"
				],
				"parameters": [  ],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Images/Create/{width}/{height}/": {
			"get": {
				"tags": [ "Images" ],
				"summary": "Creates a customizable image",
				"description": "Use this API query to create a custom image",
				"operationId": "imagesCreate-height",
				"produces": [
					"image/webp",
					"image/jpx",
					"image/png",
					"image/jpx",
					"image/jpeg"
				],
				"parameters": [{
					"name": "width",
					"in": "path",
					"description": "Width of the image to be created",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "height",
					"in": "path",
					"description": "Height of the image to be created",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Images/Create/{width}/{height}/{background_hex}/": {
			"get": {
				"tags": [ "Images" ],
				"summary": "Creates a customizable image",
				"description": "Use this API query to create a custom image",
				"operationId": "imagesCreate-bg_col",
				"produces": [
					"image/webp",
					"image/jpx",
					"image/png",
					"image/jpx",
					"image/jpeg"
				],
				"parameters": [{
					"name": "width",
					"in": "path",
					"description": "Width of the image to be created",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "height",
					"in": "path",
					"description": "Height of the image to be created",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "background_hex",
					"in": "path",
					"description": "The background colour for the image to be created in hex",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Images/Create/{width}/{height}/{background_hex}/{text}/": {
			"get": {
				"tags": [ "Images" ],
				"summary": "Creates a customizable image",
				"description": "Use this API query to create a custom image",
				"operationId": "imagesCreate-text",
				"produces": [
					"image/webp",
					"image/jpx",
					"image/png",
					"image/jpx",
					"image/jpeg"
				],
				"parameters": [{
					"name": "width",
					"in": "path",
					"description": "Width of the image to be created",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "height",
					"in": "path",
					"description": "Height of the image to be created",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "background_hex",
					"in": "path",
					"description": "The background of the image to be create in hex",
					"required": true,
					"type": "string"
				}, {
					"name": "text",
					"in": "path",
					"description": "The text to be displayed on the image to be created",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Images/Create/{width}/{height}/{background_hex}/{text}/{text_hex}/": {
			"get": {
				"tags": [ "Images" ],
				"summary": "Creates a customizable image",
				"description": "Use this API query to create a custom image",
				"operationId": "imagesCreate-text_col",
				"produces": [
					"image/webp",
					"image/jpx",
					"image/png",
					"image/jpx",
					"image/jpeg"
				],
				"parameters": [{
					"name": "width",
					"in": "path",
					"description": "Width os the image to be created",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "height",
					"in": "path",
					"description": "Height of the image to be created",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "background_hex",
					"in": "path",
					"description": "Background of the image to be created in hex",
					"required": true,
					"type": "string"
				}, {
					"name": "text",
					"in": "path",
					"description": "text to be displayed on the image to be created",
					"required": true,
					"type": "string"
				}, {
					"name": "text_hex",
					"in": "path",
					"description": "Text colour for the text on the image to be created",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Cart/": {
			"put": {
				"tags": [ "Cart" ],
				"summary": "Add items to a users cart",
				"description": "",
				"operationId": "AddToCart",
				"produces": [ "application/json" ],
				"parameters": [{
					"name": "uid",
					"in": "query",
					"description": "User id for cart",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "sku",
					"in": "query",
					"description": "Item sku to add to users cart",
					"required": true,
					"type": "string"
				},{
					"name": "qty",
					"in": "query",
					"description": "quantity to add to cart",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "id",
					"in": "query",
					"description": "User id for cart",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "options",
					"in": "query",
					"description": "Options for the item to add to users cart",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			},
			"post": {
				"tags": [ "Cart" ],
				"summary": "update items in a users cart",
				"description": "",
				"operationId": "UpdateInCart",
				"produces": [ "application/json" ],
				"parameters": [{
					"name": "id",
					"in": "query",
					"description": "User id for cart",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "sku",
					"in": "query",
					"description": "Item sku to update in the users cart",
					"required": true,
					"type": "string"
				}, {
					"name": "qty",
					"in": "query",
					"description": "quantity to update in the cart",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "options",
					"in": "query",
					"description": "Options for the item to update in the users cart",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			},
			"delete": {
				"tags": [ "Cart" ],
				"summary": "delete items from a users cart",
				"description": "",
				"operationId": "RemoveFromCart",
				"produces": [ "application/json" ],
				"parameters": [{
					"name": "id",
					"in": "query",
					"description": "User id for cart",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "sku",
					"in": "query",
					"description": "Item sku to remove from the users cart",
					"required": true,
					"type": "string"
				},{
					"name": "qty",
					"in": "query",
					"description": "quantity to remove from the users cart",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "options",
					"in": "query",
					"description": "Options for the item to remove from the users cart",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Cart/{id}": {
			"get": {
				"tags": [ "Cart" ],
				"summary": "Retrieves the items in a users cart",
				"description": "",
				"operationId": "ReadCart",
				"produces": [  ],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "User id for the cart to read",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Website/": {
			"put": {
				"tags": [ "website" ],
				"summary": "New website function",
				"description": "Creates a new website and domain on the DB",
				"operationId": "createWebsite",
				"produces": [ "application/json" ],
				"parameters": [{
					"name": "Name",
					"in": "query",
					"description": "Name of the new website",
					"required": true,
					"type": "string"
				},{
					"name": "Domain",
					"in": "query",
					"description": "Domain of the new website",
					"required": true,
					"type": "integer",
					"format": "int32"
				},{
					"name": "page_type",
					"in": "query",
					"description": "The theme type for the new website",
					"required": true,
					"type": "integer",
					"format": "int32"
				},{
					"name": "maintenance",
					"in": "query",
					"description": "boolean - if the website should be down for maintenance",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		},
		"/Website/{id}": {
			"put": {
				"tags": [ "website" ],
				"summary": "Update website function",
				"description": "Updates a website and domain on the DB specified by ID",
				"operationId": "updateWebsite",
				"produces": [ "application/json" ],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "ID of the website to be updated",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "Name",
					"in": "query",
					"description": "Name of the new website",
					"required": true,
					"type": "string"
				}, {
					"name": "Domain",
					"in": "query",
					"description": "Domain of the new website",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "page_type",
					"in": "query",
					"description": "The theme type for the new website",
					"required": true,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "maintenance",
					"in": "query",
					"description": "boolean - if the website should be down for maintenance",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		}

		,
		"/Template/": {
			"get": {
				"tags": [ "Template" ],
				"summary": "template",
				"description": "template api path - does nothing",
				"operationId": "TEMPLATE",
				"produces": [  ],
				"parameters": [{
					"name": "width",
					"in": "path",
					"description": "template",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity",
						"schema": {
							"$ref": "#/definitions/422"
						}
					},
					"500": {
						"description": "Internal Server Error",
						"schema": {
							"$ref": "#/definitions/500"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"User": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"username": {
					"type": "string"
				},
				"rank": {
					"type": "string"
				},
				"email": {
					"type": "string"
				},
				"pass": {
					"type": "string"
				},
				"firstname": {
					"type": "string"
				},
				"surname": {
					"type": "string"
				},
				"change_passkey": {
					"type": "string"
				},
				"disable_analytics": {
					"type": "string"
				},
				"created": {
					"type": "string"
				},
				"active": {
					"type": "string"
				}
			}
		},
		"sessions": {
			"type": "object",
			"properties": {
				"token": {
					"type": "string"
				}
			}
		},
		"login": {
			"type": "object",
			"properties": {
				"token": {
					"type": "string"
				}
			}
		},
		"200": {
			"type": "object",
			"properties": {
				"status": {
					"type": "string"
				}
			}
		},
		"422": {
			"type": "object",
			"properties": {
				"Code": {
					"type": "integer",
					"format": "int32"
				},
				"description": {
					"type": "string"
				}
			}
		},
		"500": {
			"type": "object",
			"properties": {
				"Code": {
					"type": "integer",
					"format": "int32"
				},
				"description": {
					"type": "string"
				}
			}
		}
	}
}