.search-area input {
    position: absolute;
    background: white;
    color: black;
    width: 100%;
    border-radius: .4em;
    top: 38px;
    z-index: 10;
}
.search-suggestions {
    position: absolute;
    background: white;
    color: black;
    list-style: none;
    padding: 21px 10px 10px;
    width: 100%;
    border-radius: 0.4em;
    z-index: 9;
    top: 40px;
}