/***********************************************************
 *******************       TOPBAR       ********************
 ***********************************************************/
#topbar {
	background: var(--primary);
	border-bottom: 1px solid var(--primary-accent);
	color: var(--white);
	font-size: 15px;
	height: 40px;
	padding: 0;
	text-align: center;
}