:root {
	--app-container:			rgb(243, 246, 253, 100%);
	--main-color:				rgb( 31,  28,  46, 100%);
	--secondary-color:			rgb( 74,  74,  74, 100%);
	--link-color:				rgb( 31,  28,  46, 100%);
	--link-color-hover:			rgb(195, 207, 244, 100%);
	--link-color-active:		rgb(255, 255, 255, 100%);
	--link-color-active-bg:		rgb( 31,  28,  46, 100%);
	--link-color-disabled:		rgb(227, 227, 227, 100%);
	--link-color-disabled-bg:	rgb(181, 181, 183, 100%);
	--section:					rgb(255, 255, 255, 100%);
	--message-box-hover:		rgb(250, 252, 255, 100%);
	--message-box-border:		rgb(233, 235, 240, 100%);
	--more-list-bg:				rgb(255, 255, 255, 100%);
	--more-list-bg-hover:		rgb(246, 251, 255, 100%);
	--more-list-bg-active:		rgb(237, 247, 255, 100%);
	--more-list-shadow:			rgb(209, 209, 209,  40%);
	--button-bg:				rgb( 31,  28,  36, 100%);
	--text-area-bg:				rgb(255, 255, 255, 100%);
	--text-area-bg-disabled:	rgb(233, 236, 239, 100%);
	--text-area-border:			rgb(  0,   0,   0,  12%);
	--star:						rgb(255, 217,  44, 100%);
	--message-btn:				rgb(255, 255, 255, 100%);

	--inverted:	invert(0);

	--chart-series-1: red;
	--chart-series-2: orange;
	--chart-series-3: yellow;
	--chart-series-4: green;
	--chart-series-5: blue;
	--chart-series-6: indigo;
	--chart-series-7: violet;
	--chart-series-8: darkred;
	--chart-series-9: darkorange;
	--chart-series-10: rgb(155, 135, 12);
	--chart-series-11: darkgreen;
	--chart-series-12: darkblue;
	--chart-series-13: purple;
	--chart-series-14: darkviolet;
	--chart-series-15: white;
}
.dark:root {
	--app-container:			rgb( 31,  29,  43, 100%);
	--main-color:				rgb(255, 255, 255, 100%);
	--secondary-color:			rgb(255, 255, 255,  80%);
	--link-color:				rgb(255, 255, 255,  80%);
	--link-color-hover:			rgb(195, 207, 244,  10%);
	--link-color-active:		rgb(255, 255, 255, 100%);
	--link-color-active-bg:		rgb(195, 207, 244,  20%);
	--link-color-disabled:		rgb(227, 227, 227, 100%);
	--link-color-disabled-bg:	rgb(181, 181, 183, 100%);
	--section:					rgb( 31,  41,  55, 100%);
	--message-box-hover:		rgb( 36,  50,  68, 100%);
	--message-box-border:		rgb(255, 255, 255,  10%);
	--more-list-bg:				rgb( 47,  49,  66, 100%);
	--more-list-bg-hover:		rgb(195, 207, 244,  10%);
	--more-list-bg-active:		rgb(237, 247, 255, 100%);
	--more-list-shadow:			rgb(195, 207, 244,  10%);
	--button-bg:				rgb( 31,  41,  55, 100%);
	--text-area-bg:				rgb( 47,  49,  66, 100%);
	--text-area-bg-disabled:	rgb( 70,  72,  92, 100%);
	--text-area-border:			rgb(  0,   0,   0,  12%);
	--star:						rgb(255, 217,  44, 100%);
	--message-btn:				rgb(195, 207, 244,  10%);

	--inverted:	invert(1);

	--chart-series-1: red;
	--chart-series-2: orange;
	--chart-series-3: yellow;
	--chart-series-4: green;
	--chart-series-5: blue;
	--chart-series-6: indigo;
	--chart-series-7: violet;
	--chart-series-8: darkred;
	--chart-series-9: darkorange;
	--chart-series-10: rgb(155, 135, 12);
	--chart-series-11: darkgreen;
	--chart-series-12: darkblue;
	--chart-series-13: purple;
	--chart-series-14: darkviolet;
	--chart-series-15: white;
}

.alerts {
	position: fixed;
	top: 10px;
	width: 100%;
	z-index: 10;
}
.alerts .alert {
	margin: 0 auto;
	width: fit-content;
}
.app-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: var(--app-container);
	transition: 0.2s;
}
.app-container button, .app-container input, .app-container optgroup, .app-container select, .app-container textarea {
	font-family: "DM Sans", sans-serif;
}
.app-content {
	display: flex;
	height: 100%;
	overflow: hidden;
	padding: 16px 24px 24px 0;
}
.app-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 16px 24px;
	position: relative;
}
.app-header-left, .app-header-right {
	display: flex;
	align-items: center;
}
.app-header-left {
	flex-grow: 1;
}
.app-header-right button {
	margin-left: 10px;
}

.app-icon {
	width: 2.5rem;
	height: 2.5rem;
	position: relative;
}

.app-name {
	color: var(--main-color);
	margin: 0;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	margin: 0 32px;
}

.zoho-status {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoho-status.error::after {
  content: "";
  position: absolute;
  background: transparent;
  top: 79%;
  border-radius: 3px 0px 0px 0px;
  z-index: 0;
  opacity: 70%;
  transform: rotate(45deg);
  border-bottom: 0.5em solid transparent;
  border-left: 0.5em solid red;
  border-top: 0.5em solid red;
  border-right: 0.5em solid transparent
}
.zoho-status.error::before {
  content: "Click to reconnect OAuth";
  position: absolute;
  background: red;
  width: 10vw;
  top: 90%;
  border-radius: 5px;
  z-index: 1;
  opacity: 70%;
}

.zoho-status:hover.error::before,
.zoho-status:hover.error::after {
opacity: 100%;
}

.mode-switch {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode-switch.active .moon {
  fill: var(--main-color);
}


.add-btn {
  color: #fff;
  background-color: var(--button-bg);
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-btn {
  color: var(--main-color);
  padding: 0;
  border: 0;
  background-color: transparent;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-left: 2px solid #ddd;
}
.profile-btn img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 4px;
}
.profile-btn span {
  color: var(--main-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.search-wrapper {
	width: 100%;
	max-width: 480px;
	position: inherit;
}

.search-area,
.search-suggestions {
	overflow: hidden;
	justify-content: space-between;
	align-items: center;
	color: var(--secondary-color);
	box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.search-area {
	height: 40px;
	border-radius: 20px;
	z-index: 10;
    position: inherit;
}
.search-area input {
	color: var(--secondary-color);
	border: none;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
}
.search-area input:focus {
	box-shadow: none;
	background-color: transparent;
}
.search-area input:focus-within {
	outline: none;
}

.search-suggestions {
	top: 0px;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    z-index: 2;
	padding-top: 40px;
	overflow: hidden;
	display: none;
	max-height: 83vh;
    overflow-y: scroll;
	background: var(--text-area-bg);
}
.search-suggestions > li {
    margin: 5px;
    list-style: none;
    padding: 5px 7px;
    cursor: default;
    border-radius: 15px;
}
.search-suggestions > li:nth-child(1) {
	padding-top: 10px;
}
.search-suggestions > li:hover {
	background-color: rgb(0 0 0 / 5%);
}
.search-suggestions > li a {
	text-decoration: none;
	color: var(--main-color);
}
section {
	flex: 2;
	background-color: var(--section);
	color: var(--main-color);
	border-radius: 15px;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
}
section > * {
	margin: 15px 15px 0 15px!important;
}
section .line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 32px;
}
section .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
	color: var(--main-color);
}
section .header p {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	opacity: 0.9;
	margin: 0;
	color: var(--main-color);
}
section .header .time {
	font-size: 20px;
}
.app-sidebar {
	padding: 0px 16px 0px 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	overflow-x: hidden;
}
.app-sidebar-link {
	color: var(--main-color);
	color: var(--link-color);
	margin: 16px 0;
	transition: 0.2s;
	border-radius: 50%;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	position: relative;
}
.app-sidebar-link .counter{
	position: absolute;
    top: 0;
    right: 0;
    background: red;
    border-radius: 10px;
	display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1rem;
}
.app-back-btn.disabled {
    background: var(--link-color-disabled-bg);
    color: var(--link-color-disabled);
}
.app-sidebar-link:hover {
	background-color: var(--link-color-hover);
	color: var(--link-color-active);
}
.app-sidebar-link.active {
	background-color: var(--link-color-active-bg);
	color: var(--link-color-active);
}
::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

::-webkit-scrollbar-thumb {
	background: rgb(191 191 191 / 100%);
	border-radius: 15px;
}
.search-suggestions::-webkit-scrollbar,
.search-suggestions::-webkit-scrollbar-thumb,
.app-sidebar::-webkit-scrollbar,
.app-sidebar::-webkit-scrollbar-thumb {
	display: none;
}
.app-preloader {
	padding: 1.5em 0;
	position: absolute;
    display: block;
    z-index: 9999;
    background: var(--app-container);
    width: 100%;
    height: 100%;
}

.app-preloader .pl {
    width: 8em;
    height: 16em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}
.app-preloader .pl_ring {
	stroke: var(--section);
	transition: stroke 0.3s;
}
.app-preloader .pl_worm1,
.app-preloader .pl_worm2 {
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
.app-preloader .pl_worm1 {
	animation-name: worm1;
}
.app-preloader .pl_worm2 {
	animation-name: worm2;
	visibility: hidden;
}

/* Animtions */
@keyframes worm1 {
	from {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: -87.96;
	}
	20% {
		animation-timing-function: ease-in;
		stroke-dashoffset: 0;
	}
	60% {
		stroke-dashoffset: -791.68;
		visibility: visible;
	}
	60.1%,
	to {
		stroke-dashoffset: -791.68;
		visibility: hidden;
	}
}
@keyframes worm2 {
	from,
	60% {
		stroke-dashoffset: -87.96;
		visibility: hidden;
	}
	60.1% {
		animation-timing-function: cubic-bezier(0,0,0.5,0.75);
		stroke-dashoffset: -87.96;
		visibility: visible;
	}
	77% {
		animation-timing-function: cubic-bezier(0.5,0.25,0.5,0.88);
		stroke-dashoffset: -340;
		visibility: visible;
	}
	to {
		stroke-dashoffset: -669.92;
		visibility: visible;
	}
}
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  box-sizing: border-box;
}


html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--app-container);
}

a { color: var(--link-color); }
a:hover { color: var(--link-color-hover); }
a:active { color: var(--link-color-active); }

.modal-content {
	background-color: var(--section)!important;
	color: var(--main-color)!important;
}

button, a {
  cursor: pointer;
  text-decoration: none;
}
.editor-toolbar.fullscreen {
  z-index: 10;
}
thead.sticky-top {
  z-index: 1!important;
}

input:not([type=checkbox]),
textarea {
  background: var(--text-area-bg)!important;
}
input:not([type=checkbox]):disabled, input:not([type=checkbox]).disabled,
textarea:disabled, textarea.disabled,
select:disabled, select.disabled {
  background: var(--text-area-bg-disabled)!important;
}
.form-control:focus, .form-floating:focus {
  color: var(--main-color)!important;
}

/* SIMPLE MDE*/
.CodeMirror {
  background: var(--text-area-bg);
  color: var(--main-color);
}
.editor-toolbar a {
  color: var(--main-color)!important;
}
.editor-toolbar a.active,
.editor-toolbar a:hover {
  background: var(--section);
  border-color: var(--main-color);
}

/* Chartist*/
.ct-area {
  fill-opacity: 0.25;
}
.ct-label {
  color: var(--main-color);
}
.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie {
  fill: var(--chart-series-1)!important;
}
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: var(--chart-series-1)!important;
}
.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie {
  fill: var(--chart-series-2)!important;
}
.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
  stroke: var(--chart-series-2)!important;
}
.ct-series-c .ct-area, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-slice-pie {
  fill: var(--chart-series-3)!important;
}
.ct-series-c .ct-bar, .ct-series-c .ct-line, .ct-series-c .ct-point, .ct-series-c .ct-slice-donut {
  stroke: var(--chart-series-3)!important;
}
.ct-series-d .ct-area, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-slice-pie {
  fill: var(--chart-series-4)!important;
}
.ct-series-d .ct-bar, .ct-series-d .ct-line, .ct-series-d .ct-point, .ct-series-d .ct-slice-donut {
  stroke: var(--chart-series-4)!important;
}
.ct-series-e .ct-area, .ct-series-e .ct-slice-donut-solid, .ct-series-e .ct-slice-pie {
  fill: var(--chart-series-5)!important;
}
.ct-series-e .ct-bar, .ct-series-e .ct-line, .ct-series-e .ct-point, .ct-series-e .ct-slice-donut {
  stroke: var(--chart-series-5)!important;
}
.ct-series-f .ct-area, .ct-series-f .ct-slice-donut-solid, .ct-series-f .ct-slice-pie {
  fill: var(--chart-series-6)!important;
}
.ct-series-f .ct-bar, .ct-series-f .ct-line, .ct-series-f .ct-point, .ct-series-f .ct-slice-donut {
  stroke: var(--chart-series-6)!important;
}
.ct-series-g .ct-area, .ct-series-g .ct-slice-donut-solid, .ct-series-g .ct-slice-pie {
  fill: var(--chart-series-7)!important;
}
.ct-series-g .ct-bar, .ct-series-g .ct-line, .ct-series-g .ct-point, .ct-series-g .ct-slice-donut {
  stroke: var(--chart-series-7)!important;
}
.ct-series-h .ct-area, .ct-series-h .ct-slice-donut-solid, .ct-series-h .ct-slice-pie {
  fill: var(--chart-series-8)!important;
}
.ct-series-h .ct-bar, .ct-series-h .ct-line, .ct-series-h .ct-point, .ct-series-h .ct-slice-donut {
  stroke: var(--chart-series-8)!important;
}
.ct-series-i .ct-area, .ct-series-i .ct-slice-donut-solid, .ct-series-i .ct-slice-pie {
  fill: var(--chart-series-9)!important;
}
.ct-series-i .ct-bar, .ct-series-i .ct-line, .ct-series-i .ct-point, .ct-series-i .ct-slice-donut {
  stroke: var(--chart-series-9)!important;
}
.ct-series-j .ct-area, .ct-series-j .ct-slice-donut-solid, .ct-series-j .ct-slice-pie {
  fill: var(--chart-series-10)!important;
}
.ct-series-j .ct-bar, .ct-series-j .ct-line, .ct-series-j .ct-point, .ct-series-j .ct-slice-donut {
  stroke: var(--chart-series-10)!important;
}
.ct-series-k .ct-area, .ct-series-k .ct-slice-donut-solid, .ct-series-k .ct-slice-pie {
  fill: var(--chart-series-11)!important;
}
.ct-series-k .ct-bar, .ct-series-k .ct-line, .ct-series-k .ct-point, .ct-series-k .ct-slice-donut {
  stroke: var(--chart-series-11)!important;
}
.ct-series-l .ct-area, .ct-series-l .ct-slice-donut-solid, .ct-series-l .ct-slice-pie {
  fill: var(--chart-series-12)!important;
}
.ct-series-l .ct-bar, .ct-series-l .ct-line, .ct-series-l .ct-point, .ct-series-l .ct-slice-donut {
  stroke: var(--chart-series-12)!important;
}
.ct-series-m .ct-area, .ct-series-m .ct-slice-donut-solid, .ct-series-m .ct-slice-pie {
  fill: var(--chart-series-13)!important;
}
.ct-series-m .ct-bar, .ct-series-m .ct-line, .ct-series-m .ct-point, .ct-series-m .ct-slice-donut {
  stroke: var(--chart-series-13)!important;
}
.ct-series-n .ct-area, .ct-series-n .ct-slice-donut-solid, .ct-series-n .ct-slice-pie {
  fill: var(--chart-series-14)!important;
}
.ct-series-n .ct-bar, .ct-series-n .ct-line, .ct-series-n .ct-point, .ct-series-n .ct-slice-donut {
  stroke: var(--chart-series-14)!important;
}
.ct-series-o .ct-area, .ct-series-o .ct-slice-donut-solid, .ct-series-o .ct-slice-pie {
  fill: var(--chart-series-15)!important;
}
.ct-series-o .ct-bar, .ct-series-o .ct-line, .ct-series-o .ct-point, .ct-series-o .ct-slice-donut {
  stroke: var(--chart-series-15)!important;
}
.ct-labels foreignObject span.ct-horizontal {
  transform: rotate(-45deg) translate(0px, 0px)!important;
  text-align: end!important;
  text-anchor: end!important;
  width: 0%!important;
  margin: 1rem 0px 0px -0.5rem;
}
chart.monetary span.ct-label.ct-vertical.ct-start::before {
  content: '£';
}
/**
 *	TABLE
 */
 table {
	color: var(--main-color)!important;
}
thead {
    background: var(--section);
    z-index: unset;
}
/**
 *	TABLE-STRIPED
 */
.table-striped > tbody > tr:nth-of-type(even) > * {
    color: var(--main-color);
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
    color: var(--main-color);
}
/**
 *	TABLE-HOVER
 */
.table-hover > tbody > tr:hover > * {
	color: var(--link-color-hover);
}
.form-control,
.form-select,
.form-check-input {
	background-color: var(--more-list-bg);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}
.dark .form-select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23d5d5d5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
[type="date"],
[type="text"],
[type="number"] {
    background: var(--text-area-bg)!important;
}
::-webkit-calendar-picker-indicator {
    filter: var(--inverted);
}

/************************************************************/
/********************      CUSTOM BS     ********************/
/************************************************************/
    /* Universal */
	.form-floating label {
		left: unset!important;
	}
	.card {
		background-color: var(--text-area-bg);
		border-color: var(--text-area-border);
	}
/* Max Width */
	.mw-unset { max-width: unset!important; }
	.mw-10 { max-width: 10%!important; }
	.mw-15 { max-width: 15%!important; }
	.mw-20 { max-width: 20%!important; }
	.mw-25 { max-width: 25%!important; }
	.mw-30 { max-width: 30%!important; }
	.mw-35 { max-width: 35%!important; }
	.mw-40 { max-width: 40%!important; }
	.mw-45 { max-width: 45%!important; }
	.mw-50 { max-width: 50%!important; }
	.mw-55 { max-width: 55%!important; }
	.mw-60 { max-width: 60%!important; }
	.mw-65 { max-width: 65%!important; }
	.mw-70 { max-width: 70%!important; }
	.mw-75 { max-width: 75%!important; }
	.mw-80 { max-width: 80%!important; }
	.mw-85 { max-width: 85%!important; }
	.mw-90 { max-width: 90%!important; }
	.mw-95 { max-width: 95%!important; }
	.mw-100 { max-width: 100%!important; }
/* Max Height */
	.mh-unset { max-height: unset!important; }
	.mh-10 { max-height: 10%!important; }
	.mh-15 { max-height: 15%!important; }
	.mh-20 { max-height: 20%!important; }
	.mh-25 { max-height: 25%!important; }
	.mh-30 { max-height: 30%!important; }
	.mh-35 { max-height: 35%!important; }
	.mh-40 { max-height: 40%!important; }
	.mh-45 { max-height: 45%!important; }
	.mh-50 { max-height: 50%!important; }
	.mh-55 { max-height: 55%!important; }
	.mh-60 { max-height: 60%!important; }
	.mh-65 { max-height: 65%!important; }
	.mh-70 { max-height: 70%!important; }
	.mh-75 { max-height: 75%!important; }
	.mh-80 { max-height: 80%!important; }
	.mh-85 { max-height: 85%!important; }
	.mh-90 { max-height: 90%!important; }
	.mh-95 { max-height: 95%!important; }
	.mh-100 { max-height: 100%!important; }
/* Width */
	.w-unset { width: unset!important; }
	.w-auto { width: auto!important; }
	.w-10 { width: 10%!important; }
	.w-15 { width: 15%!important; }
	.w-20 { width: 20%!important; }
	.w-25 { width: 25%!important; }
	.w-30 { width: 30%!important; }
	.w-35 { width: 35%!important; }
	.w-40 { width: 40%!important; }
	.w-45 { width: 45%!important; }
	.w-50 { width: 50%!important; }
	.w-55 { width: 55%!important; }
	.w-60 { width: 60%!important; }
	.w-65 { width: 65%!important; }
	.w-70 { width: 70%!important; }
	.w-75 { width: 75%!important; }
	.w-80 { width: 80%!important; }
	.w-85 { width: 85%!important; }
	.w-90 { width: 90%!important; }
	.w-95 { width: 95%!important; }
	.w-100 { width: 100%!important; }
/* Height */
	.h-unset { height: unset!important; }
	.h-auto { height: auto!important; }
	.h-10 { height: 10%!important; }
	.h-15 { height: 15%!important; }
	.h-20 { height: 20%!important; }
	.h-25 { height: 25%!important; }
	.h-30 { height: 30%!important; }
	.h-35 { height: 35%!important; }
	.h-40 { height: 40%!important; }
	.h-45 { height: 45%!important; }
	.h-50 { height: 50%!important; }
	.h-55 { height: 55%!important; }
	.h-60 { height: 60%!important; }
	.h-65 { height: 65%!important; }
	.h-70 { height: 70%!important; }
	.h-75 { height: 75%!important; }
	.h-80 { height: 80%!important; }
	.h-85 { height: 85%!important; }
	.h-90 { height: 90%!important; }
	.h-95 { height: 95%!important; }
	.h-100 { height: 100%!important; }
/* Outline */
	.outline-none { outline: none;}
/* Disabled */
	.disabled { background: #e9ecef;}
	@media (min-width: 576px) {
		/* Max Width */
			.mw-sm-unset { max-width: unset!important; }
			.mw-sm-10 { max-width: 10%!important; }
			.mw-sm-15 { max-width: 15%!important; }
			.mw-sm-20 { max-width: 20%!important; }
			.mw-sm-25 { max-width: 25%!important; }
			.mw-sm-30 { max-width: 30%!important; }
			.mw-sm-35 { max-width: 35%!important; }
			.mw-sm-40 { max-width: 40%!important; }
			.mw-sm-45 { max-width: 45%!important; }
			.mw-sm-50 { max-width: 50%!important; }
			.mw-sm-55 { max-width: 55%!important; }
			.mw-sm-60 { max-width: 60%!important; }
			.mw-sm-65 { max-width: 65%!important; }
			.mw-sm-70 { max-width: 70%!important; }
			.mw-sm-75 { max-width: 75%!important; }
			.mw-sm-80 { max-width: 80%!important; }
			.mw-sm-85 { max-width: 85%!important; }
			.mw-sm-90 { max-width: 90%!important; }
			.mw-sm-95 { max-width: 95%!important; }
			.mw-sm-100 { max-width: 100%!important; }
		/* Max Height */
			.mh-sm-unset { max-height: unset!important; }
			.mh-sm-10 { max-height: 10%!important; }
			.mh-sm-15 { max-height: 15%!important; }
			.mh-sm-20 { max-height: 20%!important; }
			.mh-sm-25 { max-height: 25%!important; }
			.mh-sm-30 { max-height: 30%!important; }
			.mh-sm-35 { max-height: 35%!important; }
			.mh-sm-40 { max-height: 40%!important; }
			.mh-sm-45 { max-height: 45%!important; }
			.mh-sm-50 { max-height: 50%!important; }
			.mh-sm-55 { max-height: 55%!important; }
			.mh-sm-60 { max-height: 60%!important; }
			.mh-sm-65 { max-height: 65%!important; }
			.mh-sm-70 { max-height: 70%!important; }
			.mh-sm-75 { max-height: 75%!important; }
			.mh-sm-80 { max-height: 80%!important; }
			.mh-sm-85 { max-height: 85%!important; }
			.mh-sm-90 { max-height: 90%!important; }
			.mh-sm-95 { max-height: 95%!important; }
			.mh-sm-100 { max-height: 100%!important; }
		/* Width */
			.w-sm-unset { width: unset!important; }
			.w-sm-auto { width: auto!important; }
			.w-sm-10 { width: 10%!important; }
			.w-sm-15 { width: 15%!important; }
			.w-sm-20 { width: 20%!important; }
			.w-sm-25 { width: 25%!important; }
			.w-sm-30 { width: 30%!important; }
			.w-sm-35 { width: 35%!important; }
			.w-sm-40 { width: 40%!important; }
			.w-sm-45 { width: 45%!important; }
			.w-sm-50 { width: 50%!important; }
			.w-sm-55 { width: 55%!important; }
			.w-sm-60 { width: 60%!important; }
			.w-sm-65 { width: 65%!important; }
			.w-sm-70 { width: 70%!important; }
			.w-sm-75 { width: 75%!important; }
			.w-sm-80 { width: 80%!important; }
			.w-sm-85 { width: 85%!important; }
			.w-sm-90 { width: 90%!important; }
			.w-sm-95 { width: 95%!important; }
			.w-sm-100 { width: 100%!important; }
		/* Height */
			.h-sm-unset { height: unset!important; }
			.h-sm-auto { height: auto!important; }
			.h-sm-10 { height: 10%!important; }
			.h-sm-15 { height: 15%!important; }
			.h-sm-20 { height: 20%!important; }
			.h-sm-25 { height: 25%!important; }
			.h-sm-30 { height: 30%!important; }
			.h-sm-35 { height: 35%!important; }
			.h-sm-40 { height: 40%!important; }
			.h-sm-45 { height: 45%!important; }
			.h-sm-50 { height: 50%!important; }
			.h-sm-55 { height: 55%!important; }
			.h-sm-60 { height: 60%!important; }
			.h-sm-65 { height: 65%!important; }
			.h-sm-70 { height: 70%!important; }
			.h-sm-75 { height: 75%!important; }
			.h-sm-80 { height: 80%!important; }
			.h-sm-85 { height: 85%!important; }
			.h-sm-90 { height: 90%!important; }
			.h-sm-95 { height: 95%!important; }
			.h-sm-100 { height: 100%!important; }
		/* Outline */
			.outline-sm-none { outline: none;}
		/* Disabled */
			.disabled-sm { background: #e9ecef;}
	}
	@media (min-width: 768px) {
		/* Max Width */
			.mw-md-unset { max-width: unset!important; }
			.mw-md-10 { max-width: 10%!important; }
			.mw-md-15 { max-width: 15%!important; }
			.mw-md-20 { max-width: 20%!important; }
			.mw-md-25 { max-width: 25%!important; }
			.mw-md-30 { max-width: 30%!important; }
			.mw-md-35 { max-width: 35%!important; }
			.mw-md-40 { max-width: 40%!important; }
			.mw-md-45 { max-width: 45%!important; }
			.mw-md-50 { max-width: 50%!important; }
			.mw-md-55 { max-width: 55%!important; }
			.mw-md-60 { max-width: 60%!important; }
			.mw-md-65 { max-width: 65%!important; }
			.mw-md-70 { max-width: 70%!important; }
			.mw-md-75 { max-width: 75%!important; }
			.mw-md-80 { max-width: 80%!important; }
			.mw-md-85 { max-width: 85%!important; }
			.mw-md-90 { max-width: 90%!important; }
			.mw-md-95 { max-width: 95%!important; }
			.mw-md-100 { max-width: 100%!important; }
		/* Max Height */
			.mh-md-unset { max-height: unset!important; }
			.mh-md-10 { max-height: 10%!important; }
			.mh-md-15 { max-height: 15%!important; }
			.mh-md-20 { max-height: 20%!important; }
			.mh-md-25 { max-height: 25%!important; }
			.mh-md-30 { max-height: 30%!important; }
			.mh-md-35 { max-height: 35%!important; }
			.mh-md-40 { max-height: 40%!important; }
			.mh-md-45 { max-height: 45%!important; }
			.mh-md-50 { max-height: 50%!important; }
			.mh-md-55 { max-height: 55%!important; }
			.mh-md-60 { max-height: 60%!important; }
			.mh-md-65 { max-height: 65%!important; }
			.mh-md-70 { max-height: 70%!important; }
			.mh-md-75 { max-height: 75%!important; }
			.mh-md-80 { max-height: 80%!important; }
			.mh-md-85 { max-height: 85%!important; }
			.mh-md-90 { max-height: 90%!important; }
			.mh-md-95 { max-height: 95%!important; }
			.mh-md-100 { max-height: 100%!important; }
		/* Width */
			.w-md-unset { width: unset!important; }
			.w-md-auto { width: auto!important; }
			.w-md-10 { width: 10%!important; }
			.w-md-15 { width: 15%!important; }
			.w-md-20 { width: 20%!important; }
			.w-md-25 { width: 25%!important; }
			.w-md-30 { width: 30%!important; }
			.w-md-35 { width: 35%!important; }
			.w-md-40 { width: 40%!important; }
			.w-md-45 { width: 45%!important; }
			.w-md-50 { width: 50%!important; }
			.w-md-55 { width: 55%!important; }
			.w-md-60 { width: 60%!important; }
			.w-md-65 { width: 65%!important; }
			.w-md-70 { width: 70%!important; }
			.w-md-75 { width: 75%!important; }
			.w-md-80 { width: 80%!important; }
			.w-md-85 { width: 85%!important; }
			.w-md-90 { width: 90%!important; }
			.w-md-95 { width: 95%!important; }
			.w-md-100 { width: 100%!important; }
		/* Height */
			.h-md-unset { height: unset!important; }
			.h-md-auto { height: auto!important; }
			.h-md-10 { height: 10%!important; }
			.h-md-15 { height: 15%!important; }
			.h-md-20 { height: 20%!important; }
			.h-md-25 { height: 25%!important; }
			.h-md-30 { height: 30%!important; }
			.h-md-35 { height: 35%!important; }
			.h-md-40 { height: 40%!important; }
			.h-md-45 { height: 45%!important; }
			.h-md-50 { height: 50%!important; }
			.h-md-55 { height: 55%!important; }
			.h-md-60 { height: 60%!important; }
			.h-md-65 { height: 65%!important; }
			.h-md-70 { height: 70%!important; }
			.h-md-75 { height: 75%!important; }
			.h-md-80 { height: 80%!important; }
			.h-md-85 { height: 85%!important; }
			.h-md-90 { height: 90%!important; }
			.h-md-95 { height: 95%!important; }
			.h-md-100 { height: 100%!important; }
		/* Outline */
			.outline-md-none { outline: none;}
		/* Disabled */
			.disabled-md { background: #e9ecef;}
	}
	@media (min-width: 992px) {
		/* Max Width */
			.mw-lg-unset { max-width: unset!important; }
			.mw-lg-10 { max-width: 10%!important; }
			.mw-lg-15 { max-width: 15%!important; }
			.mw-lg-20 { max-width: 20%!important; }
			.mw-lg-25 { max-width: 25%!important; }
			.mw-lg-30 { max-width: 30%!important; }
			.mw-lg-35 { max-width: 35%!important; }
			.mw-lg-40 { max-width: 40%!important; }
			.mw-lg-45 { max-width: 45%!important; }
			.mw-lg-50 { max-width: 50%!important; }
			.mw-lg-55 { max-width: 55%!important; }
			.mw-lg-60 { max-width: 60%!important; }
			.mw-lg-65 { max-width: 65%!important; }
			.mw-lg-70 { max-width: 70%!important; }
			.mw-lg-75 { max-width: 75%!important; }
			.mw-lg-80 { max-width: 80%!important; }
			.mw-lg-85 { max-width: 85%!important; }
			.mw-lg-90 { max-width: 90%!important; }
			.mw-lg-95 { max-width: 95%!important; }
			.mw-lg-100 { max-width: 100%!important; }
		/* Max Height */
			.mh-lg-unset { max-height: unset!important; }
			.mh-lg-10 { max-height: 10%!important; }
			.mh-lg-15 { max-height: 15%!important; }
			.mh-lg-20 { max-height: 20%!important; }
			.mh-lg-25 { max-height: 25%!important; }
			.mh-lg-30 { max-height: 30%!important; }
			.mh-lg-35 { max-height: 35%!important; }
			.mh-lg-40 { max-height: 40%!important; }
			.mh-lg-45 { max-height: 45%!important; }
			.mh-lg-50 { max-height: 50%!important; }
			.mh-lg-55 { max-height: 55%!important; }
			.mh-lg-60 { max-height: 60%!important; }
			.mh-lg-65 { max-height: 65%!important; }
			.mh-lg-70 { max-height: 70%!important; }
			.mh-lg-75 { max-height: 75%!important; }
			.mh-lg-80 { max-height: 80%!important; }
			.mh-lg-85 { max-height: 85%!important; }
			.mh-lg-90 { max-height: 90%!important; }
			.mh-lg-95 { max-height: 95%!important; }
			.mh-lg-100 { max-height: 100%!important; }
		/* Width */
			.w-lg-unset { width: unset!important; }
			.w-lg-auto { width: auto!important; }
			.w-lg-10 { width: 10%!important; }
			.w-lg-15 { width: 15%!important; }
			.w-lg-20 { width: 20%!important; }
			.w-lg-25 { width: 25%!important; }
			.w-lg-30 { width: 30%!important; }
			.w-lg-35 { width: 35%!important; }
			.w-lg-40 { width: 40%!important; }
			.w-lg-45 { width: 45%!important; }
			.w-lg-50 { width: 50%!important; }
			.w-lg-55 { width: 55%!important; }
			.w-lg-60 { width: 60%!important; }
			.w-lg-65 { width: 65%!important; }
			.w-lg-70 { width: 70%!important; }
			.w-lg-75 { width: 75%!important; }
			.w-lg-80 { width: 80%!important; }
			.w-lg-85 { width: 85%!important; }
			.w-lg-90 { width: 90%!important; }
			.w-lg-95 { width: 95%!important; }
			.w-lg-100 { width: 100%!important; }
		/* Height */
			.h-lg-unset { height: unset!important; }
			.h-lg-auto { height: auto!important; }
			.h-lg-10 { height: 10%!important; }
			.h-lg-15 { height: 15%!important; }
			.h-lg-20 { height: 20%!important; }
			.h-lg-25 { height: 25%!important; }
			.h-lg-30 { height: 30%!important; }
			.h-lg-35 { height: 35%!important; }
			.h-lg-40 { height: 40%!important; }
			.h-lg-45 { height: 45%!important; }
			.h-lg-50 { height: 50%!important; }
			.h-lg-55 { height: 55%!important; }
			.h-lg-60 { height: 60%!important; }
			.h-lg-65 { height: 65%!important; }
			.h-lg-70 { height: 70%!important; }
			.h-lg-75 { height: 75%!important; }
			.h-lg-80 { height: 80%!important; }
			.h-lg-85 { height: 85%!important; }
			.h-lg-90 { height: 90%!important; }
			.h-lg-95 { height: 95%!important; }
			.h-lg-100 { height: 100%!important; }
		/* Outline */
			.outline-lg-none { outline: none;}
		/* Disabled */
			.disabled-lg { background: #e9ecef;}
	}
	@media (min-width: 1200px) {
		/* Max Width */
			.mw-xl-unset { max-width: unset!important; }
			.mw-xl-10 { max-width: 10%!important; }
			.mw-xl-15 { max-width: 15%!important; }
			.mw-xl-20 { max-width: 20%!important; }
			.mw-xl-25 { max-width: 25%!important; }
			.mw-xl-30 { max-width: 30%!important; }
			.mw-xl-35 { max-width: 35%!important; }
			.mw-xl-40 { max-width: 40%!important; }
			.mw-xl-45 { max-width: 45%!important; }
			.mw-xl-50 { max-width: 50%!important; }
			.mw-xl-55 { max-width: 55%!important; }
			.mw-xl-60 { max-width: 60%!important; }
			.mw-xl-65 { max-width: 65%!important; }
			.mw-xl-70 { max-width: 70%!important; }
			.mw-xl-75 { max-width: 75%!important; }
			.mw-xl-80 { max-width: 80%!important; }
			.mw-xl-85 { max-width: 85%!important; }
			.mw-xl-90 { max-width: 90%!important; }
			.mw-xl-95 { max-width: 95%!important; }
			.mw-xl-100 { max-width: 100%!important; }
		/* Max Height */
			.mh-xl-unset { max-height: unset!important; }
			.mh-xl-10 { max-height: 10%!important; }
			.mh-xl-15 { max-height: 15%!important; }
			.mh-xl-20 { max-height: 20%!important; }
			.mh-xl-25 { max-height: 25%!important; }
			.mh-xl-30 { max-height: 30%!important; }
			.mh-xl-35 { max-height: 35%!important; }
			.mh-xl-40 { max-height: 40%!important; }
			.mh-xl-45 { max-height: 45%!important; }
			.mh-xl-50 { max-height: 50%!important; }
			.mh-xl-55 { max-height: 55%!important; }
			.mh-xl-60 { max-height: 60%!important; }
			.mh-xl-65 { max-height: 65%!important; }
			.mh-xl-70 { max-height: 70%!important; }
			.mh-xl-75 { max-height: 75%!important; }
			.mh-xl-80 { max-height: 80%!important; }
			.mh-xl-85 { max-height: 85%!important; }
			.mh-xl-90 { max-height: 90%!important; }
			.mh-xl-95 { max-height: 95%!important; }
			.mh-xl-100 { max-height: 100%!important; }
		/* Width */
			.w-xl-unset { width: unset!important; }
			.w-xl-auto { width: auto!important; }
			.w-xl-10 { width: 10%!important; }
			.w-xl-15 { width: 15%!important; }
			.w-xl-20 { width: 20%!important; }
			.w-xl-25 { width: 25%!important; }
			.w-xl-30 { width: 30%!important; }
			.w-xl-35 { width: 35%!important; }
			.w-xl-40 { width: 40%!important; }
			.w-xl-45 { width: 45%!important; }
			.w-xl-50 { width: 50%!important; }
			.w-xl-55 { width: 55%!important; }
			.w-xl-60 { width: 60%!important; }
			.w-xl-65 { width: 65%!important; }
			.w-xl-70 { width: 70%!important; }
			.w-xl-75 { width: 75%!important; }
			.w-xl-80 { width: 80%!important; }
			.w-xl-85 { width: 85%!important; }
			.w-xl-90 { width: 90%!important; }
			.w-xl-95 { width: 95%!important; }
			.w-xl-100 { width: 100%!important; }
		/* Height */
			.h-xl-unset { height: unset!important; }
			.h-xl-auto { height: auto!important; }
			.h-xl-10 { height: 10%!important; }
			.h-xl-15 { height: 15%!important; }
			.h-xl-20 { height: 20%!important; }
			.h-xl-25 { height: 25%!important; }
			.h-xl-30 { height: 30%!important; }
			.h-xl-35 { height: 35%!important; }
			.h-xl-40 { height: 40%!important; }
			.h-xl-45 { height: 45%!important; }
			.h-xl-50 { height: 50%!important; }
			.h-xl-55 { height: 55%!important; }
			.h-xl-60 { height: 60%!important; }
			.h-xl-65 { height: 65%!important; }
			.h-xl-70 { height: 70%!important; }
			.h-xl-75 { height: 75%!important; }
			.h-xl-80 { height: 80%!important; }
			.h-xl-85 { height: 85%!important; }
			.h-xl-90 { height: 90%!important; }
			.h-xl-95 { height: 95%!important; }
			.h-xl-100 { height: 100%!important; }
		/* Outline */
			.outline-xl-none { outline: none;}
		/* Disabled */
			.disabled-xl { background: #e9ecef;}
	}
	@media (min-width: 1400px) {
		/* Max Width */
			.mw-xxl-unset { max-width: unset!important; }
			.mw-xxl-10 { max-width: 10%!important; }
			.mw-xxl-15 { max-width: 15%!important; }
			.mw-xxl-20 { max-width: 20%!important; }
			.mw-xxl-25 { max-width: 25%!important; }
			.mw-xxl-30 { max-width: 30%!important; }
			.mw-xxl-35 { max-width: 35%!important; }
			.mw-xxl-40 { max-width: 40%!important; }
			.mw-xxl-45 { max-width: 45%!important; }
			.mw-xxl-50 { max-width: 50%!important; }
			.mw-xxl-55 { max-width: 55%!important; }
			.mw-xxl-60 { max-width: 60%!important; }
			.mw-xxl-65 { max-width: 65%!important; }
			.mw-xxl-70 { max-width: 70%!important; }
			.mw-xxl-75 { max-width: 75%!important; }
			.mw-xxl-80 { max-width: 80%!important; }
			.mw-xxl-85 { max-width: 85%!important; }
			.mw-xxl-90 { max-width: 90%!important; }
			.mw-xxl-95 { max-width: 95%!important; }
			.mw-xxl-100 { max-width: 100%!important; }
		/* Max Height */
			.mh-xxl-unset { max-height: unset!important; }
			.mh-xxl-10 { max-height: 10%!important; }
			.mh-xxl-15 { max-height: 15%!important; }
			.mh-xxl-20 { max-height: 20%!important; }
			.mh-xxl-25 { max-height: 25%!important; }
			.mh-xxl-30 { max-height: 30%!important; }
			.mh-xxl-35 { max-height: 35%!important; }
			.mh-xxl-40 { max-height: 40%!important; }
			.mh-xxl-45 { max-height: 45%!important; }
			.mh-xxl-50 { max-height: 50%!important; }
			.mh-xxl-55 { max-height: 55%!important; }
			.mh-xxl-60 { max-height: 60%!important; }
			.mh-xxl-65 { max-height: 65%!important; }
			.mh-xxl-70 { max-height: 70%!important; }
			.mh-xxl-75 { max-height: 75%!important; }
			.mh-xxl-80 { max-height: 80%!important; }
			.mh-xxl-85 { max-height: 85%!important; }
			.mh-xxl-90 { max-height: 90%!important; }
			.mh-xxl-95 { max-height: 95%!important; }
			.mh-xxl-100 { max-height: 100%!important; }
		/* Width */
			.w-xxl-unset { width: unset!important; }
			.w-xxl-auto { width: auto!important; }
			.w-xxl-10 { width: 10%!important; }
			.w-xxl-15 { width: 15%!important; }
			.w-xxl-20 { width: 20%!important; }
			.w-xxl-25 { width: 25%!important; }
			.w-xxl-30 { width: 30%!important; }
			.w-xxl-35 { width: 35%!important; }
			.w-xxl-40 { width: 40%!important; }
			.w-xxl-45 { width: 45%!important; }
			.w-xxl-50 { width: 50%!important; }
			.w-xxl-55 { width: 55%!important; }
			.w-xxl-60 { width: 60%!important; }
			.w-xxl-65 { width: 65%!important; }
			.w-xxl-70 { width: 70%!important; }
			.w-xxl-75 { width: 75%!important; }
			.w-xxl-80 { width: 80%!important; }
			.w-xxl-85 { width: 85%!important; }
			.w-xxl-90 { width: 90%!important; }
			.w-xxl-95 { width: 95%!important; }
			.w-xxl-100 { width: 100%!important; }
		/* Height */
			.h-xxl-unset { height: unset!important; }
			.h-xxl-auto { height: auto!important; }
			.h-xxl-10 { height: 10%!important; }
			.h-xxl-15 { height: 15%!important; }
			.h-xxl-20 { height: 20%!important; }
			.h-xxl-25 { height: 25%!important; }
			.h-xxl-30 { height: 30%!important; }
			.h-xxl-35 { height: 35%!important; }
			.h-xxl-40 { height: 40%!important; }
			.h-xxl-45 { height: 45%!important; }
			.h-xxl-50 { height: 50%!important; }
			.h-xxl-55 { height: 55%!important; }
			.h-xxl-60 { height: 60%!important; }
			.h-xxl-65 { height: 65%!important; }
			.h-xxl-70 { height: 70%!important; }
			.h-xxl-75 { height: 75%!important; }
			.h-xxl-80 { height: 80%!important; }
			.h-xxl-85 { height: 85%!important; }
			.h-xxl-90 { height: 90%!important; }
			.h-xxl-95 { height: 95%!important; }
			.h-xxl-100 { height: 100%!important; }
		/* Outline */
			.outline-xxl-none { outline: none;}
		/* Disabled */
			.disabled-xxl { background: #e9ecef;}
	}


@media screen and (max-width: 720px) {
	.app-name,
	.profile-btn span {
		display: none;
	}
	.mode-switch {
		width: 20px;
		height: 20px;
	}
	.mode-switch svg {
		width: 16px;
		height: 16px;
	}
	.app-header-right button {
		margin-left: 1rem;
	}
}

@media screen and (max-width: 520px) {
	.app-icon {
		margin: 0 1rem;
	}
	.app-sidebar {
		animation: 0.1s linear 1 forwards sidebar-hide;
	}
	.app-sidebar.sidebar-show {
		animation: 0.1s linear 1 forwards sidebar-show;
	}
	@keyframes sidebar-show {
		000% {
			display: none;
			width: 0px;
			padding: 0px;
		}

		001% {
			display: block;
			width: 0px;
			padding: 0px;
		}

		100% {
			display: block;
			width: 74px;
			padding: 0px 16px 40px 16px;
		}
	}
	@keyframes sidebar-hide {
		000% {
			display: block;
			width: 74px;
			padding: 0px 16px 40px 16px;
		}

		099% {
			display: block;
			width: 0px;
			padding: 0px;
		}

		100% {
			display: none;
			width: 0px;
			padding: 0px;
		}
	}
	.app-content {
		padding: 16px 12px 24px 12px;
	}
	.status-number,
	.status-type {
		font-size: 10px;
	}
	.view-btn {
		width: 24px;
		height: 24px;
	}
	.app-header {
		padding: 16px 10px;
	}
	.search-input {
		max-width: 120px;
	}
	.profile-btn img {
		width: 24px;
		height: 24px;
	}
	.app-header {
		padding: 10px;
	}
	section .header p,
	section .header .time {
		font-size: 18px;
	}
	.status-type {
		padding-right: 4px;
	}
	.status-type:after {
		display: none;
	}
	.search-input {
		font-size: 14px;
	}
}